.davel-image img {
    border-radius: 50%;
    width: 80%;
    height: auto;
    margin-top: 10%;
}

.introduction {
    margin-top: 15%;
    font-size: 1.5vw;
    text-align: left;
}

.project-section {
    margin-top: 10%;
}
.project-section img {
    border-radius: 20%;
}

.overlay {
    top: 0;
    left: 0;
    text-align: center;
    z-index: 1; /* Ensure the link is above the image */
}

.project-headline {
    font-size: 24px;
    color: #333333; /* Color of the text */
    text-align: center; /* Aligning text to the center */
    margin-top: 20px; /* Top margin */
    margin-bottom: 20px; /* Bottom margin */
    font-weight: bold; /* Making the font bold */
    text-transform: uppercase; /* Uppercase letters */
    letter-spacing: 2px; /* Spacing between letters */
    line-height: 1.4; /* Line height for better readability */
}

footer {
    background-color: #f8f8f8; /* Light grey background */
    color: #333; /* Dark grey text */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Modern, sans-serif font */
    padding: 20px; /* Padding for spacing */
    font-size: 16px; /* Legible font size */
    border-top: 1px solid #eaeaea; /* Slight border on top for definition */
    margin-top: 100px;
}

.footer-content {
    text-align: center; /* Center align footer content */
    max-width: 1160px; /* Max width similar to the screenshot's content area */
    margin: 0 auto; /* Center the footer content */
}

.social-media-icons a {
    color: #333; /* Dark grey links */
    margin: 0 10px; /* Space out the social media links */
    text-decoration: none; /* No underline */
    font-size: 14px; /* Slightly smaller font size for the links */
}

.social-media-icons a:hover {
    text-decoration: underline; /* Underline on hover */
}

@media (max-width: 768px) {
    .footer-content {
        padding: 20px 10px; /* Smaller padding on smaller screens */
    }
    .social-media-icons a {
        display: block; /* Stack the links vertically on small screens */
        margin-bottom: 5px; /* Add bottom margin for vertical stack */
    }
}

.gallery {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.gallery a {
    text-decoration: none;
}

.gallery-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.gallery-item img {
    width: 50%;
    margin-right: 20px;
    border-radius: 20%;
}

.gallery-info {
    flex: 1;
}

.gallery-info h3 {
    margin: 0;
    color: #333;
    font-size: 24px;
}

.gallery-info p {
    color: #666;
}
