{% extends 'base.html' %}

{% block head %}
<title>Davel's Portofolio</title>
{% endblock %}

{% block body %}
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects">Projects</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Links</a>
    </li>
</ul>

<h1 class="text-center" style="margin-top: 5%;">About me...</h1>

<div class="background-section text-center" style="margin-top: 10%;">
    <h2>Background</h2>
    <p style="text-align: left; margin: 0 10% 5% 10%;">Jakarta, Indonesia — that's where my story starts. Just me and my family, 
      no siblings to speak of, but a whole lot of passion for, well, almost everything. My days were packed with extracurriculars; 
      you could find me competing in mathematics, swimming, or even Rubik's cube. School? 
      Nailed it, despite the busy schedule. I even dipped my toes into content creation and photography, because why not? <br /> <br /> My parents, 
      bless them, were my rock, the kind of people who nurtured every flicker of curiosity into a full-blown flame. At 17, I took a leap 
      and landed in Seattle, diving into a high school completion program that was also my ticket to the first two years of college. 
      Talk about a game-changer for my academic path and personal growth. <br/> <br /> Business major was the initial plan, but then programming waltzed 
      into my life, and it was like all my skills and hobbies had found their home. So what if I caught the coding bug a tad later than some? 
      When I'm into something, I'm all in, and I tend to rock it.</p>
</div>

<div class="education-section text-center">
    <h2>Education & Extracurriculars</h2>
    <div style="text-align: left; margin: 0 10% 5% 10%;">
      <h4>Highfield Secondary School, 2019-2021</h4>
      <p>Extracurriculars: Math Club, Swimming Club, Photography Club, Humanities Circle(Philosophy & Politics Club)</p>
      <p>Achievements: Math Awards, Swimming Medals, Speedcubing(Rubik's) Awards</p>
    <br />
    <h4>Shoreline Community College, 2021-2023</h4>
      <p>Extracurriculars: President of Math Club, Indonesian Student Community's Head of Technology, DECA's Event Organizer, Computer Science club</p>
      <p>Achievements: Hackathon Winner, DECA Competition Awards</p>
    <br />
    <h4>San Jose State University, 2023-2025</h4>
      <p>Extracurriculars: Computer Science Club</p>
      <p>Achievements: -</p>
    </div>
</div>

<div class="work-section text-center">
    <h2>Work Experience</h2>
    <div style="text-align: left; margin: 0 10% 5% 10%;">
      <h4>Media Technician, Sept. 2022 - June 2023</h4>
      <h6>Shoreline Community College</h6>
      <p>I was responsible for assessing and resolving a wide array of computer-related issues presented by students, 
        clubs, and faculty members. My role demanded a deep understanding of various hardware and software problems, 
        enabling me to offer prompt and efficient troubleshooting solutions. Additionally, I played a key role in ensuring 
        the seamless execution of audiovisual production and technical support for large-scale campus events. This involved 
        meticulous planning, setup, and operation of AV equipment, along with real-time technical assistance, to guarantee 
        the success of these events and provide an uninterrupted, high-quality experience for all participants.</p>
    <br />
    <h4>Peer Mentor, Dec. 2022 - June 2023</h4>
      <h6>Shoreline Community College</h6>
      <p>During their first year at Shoreline, incoming students are supported by first-year mentors. Students enrolling in 
        College and Career Success (COL 101), a course designed for first-year college students who have not yet decided on a 
        degree, are matched with mentors. I lead events for new students, maintain regular contact with mentees, and collaborate 
        with COL 101 professors to create activities for the course.</p>
    <br />
    <h4>Software Engineer Intern, Dec. 2023 - Ongoing</h4>
    <h6>Jonajo Consulting</h6>
    <p>I worked on two significant projects, showcasing my expertise in mobile and web application development. My first major 
      contribution was in the development of a cutting-edge public transport app designed to accurately measure congestion levels, 
      with a particular focus on expanding its reach to mobile platforms using Swift. This endeavor required a deep understanding 
      of mobile software engineering and user experience design. Additionally, I undertook the challenge of creating a private 
      chatbot, working extensively with Large Language Models (LLMs) using Python. This project involved developing sophisticated 
      natural language processing capabilities and integrating them seamlessly into a user-friendly chatbot interface. My work in 
      this area not only demonstrated my proficiency in Python but also highlighted my adaptability and innovation in employing 
      advanced AI technologies.</p>
    </div>
</div>


{% endblock %}