{% extends 'base.html' %}

{% block head %}
<title>Davel's Portofolio</title>
{% endblock %}

{% block body %}
<div class="container text-center">
    <div class="row">
        <div class="col">
            <img src="https://media.licdn.com/dms/image/D5603AQFXKwXzouqhlg/profile-displayphoto-shrink_800_800/0/1685057765318?e=2147483647&v=beta&t=2920t5aD0g2Uv-TO63pXZpImmOZ-VgMMuVa9n4TcAeQ" alt="Davel's Picture">
        </div>
        
        <div class="col">
            <h1>I'm Davel</h1>
        
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. Vestibulum lorem sed risus ultricies tristique. Amet luctus venenatis 
                lectus magna fringilla urna porttitor. Amet justo donec enim diam vulputate ut pharetra. Nulla pellentesque 
                dignissim enim sit amet venenatis urna cursus. Viverra vitae congue eu consequat ac. Sit amet consectetur adipiscing 
                elit ut aliquam purus sit. Morbi tincidunt ornare massa eget egestas purus. Tincidunt praesent semper feugiat nibh. 
                Imperdiet proin fermentum leo vel orci porta. Mattis nunc sed blandit libero volutpat sed. Iaculis urna id volutpat 
                lacus laoreet non curabitur. Feugiat pretium nibh ipsum consequat nisl. Elementum nibh tellus molestie nunc non. 
                Elementum integer enim neque volutpat ac tincidunt vitae semper quis. Amet justo donec enim diam vulputate.</p>
        </div>

    </div>
</div>


<div class="links-bar">
    <a href="https://www.linkedin.com/in/davelradindra/">
        <i class="fa-brands fa-linkedin"></i>
        <span> LinkedIn</span>
    </a>
    <a href="https://github.com/DavelRad">
        <i class="fa-brands fa-github"> </i>
        <span> GitHub</span>
    </a>
    <a href="Users/davelradindra/Desktop/SJSU dump/Davel's Resume (Final).pdf">
        <i class="fa-solid fa-file"> </i>
        <span> Resume</span>
    </a>
</div>

<div class="project-section">
    <h1>My Projects</h1>
    <ul class="projects">
        <li>Scam Call Detection</li>
        <li>Expense Tracker</li>
        <li>Course Planner</li>
    </ul>

</div>
{% endblock %}