{% extends 'base.html' %}

{% block head %}
<title>Davel's Portofolio</title>
{% endblock %}

{% block body %}
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects">Projects</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Links</a>
    </li>
</ul>

<div class="introduction container text-center">
    <div class="row">
      <div class="davel-image col">
        <img src="https://media.licdn.com/dms/image/D5603AQFXKwXzouqhlg/profile-displayphoto-shrink_800_800/0/1685057765318?e=2147483647&v=beta&t=2920t5aD0g2Uv-TO63pXZpImmOZ-VgMMuVa9n4TcAeQ" alt="Davel's Picture">
      </div>
      <div class="introduction col">
        <h1>I'm Davel</h1>
        
        <p>A dedicated Computer Science student at San Jose State University with 
            roots proudly extending back to Indonesia. As an international student, I bring a 
            unique perspective and insatiable curiosity to the vibrant tech world. 
            Driven by a passion for innovation and a zest for life's myriad challenges, I dive 
            into the complexities of coding and the evolving realm of technologies every day. 
            Beyond the screen, I am just as committed to personal growth and wellness, with daily 
            gym sessions being a non-negotiable part of my routine. Join me on this exciting journey as 
            I navigate the intersection of technology and well-being, one line of code and one workout at 
            a time.</p>
      </div>
    </div>
</div>

<div class="project-section container text-center">
    <a href="/projects" class="project-headline text-center">Some of My Projects..</a>
    <div class="row" style="margin-top: 20px;">
      <div class="col">
        <img src="https://media.wnyc.org/i/320/320/l/80/1/blackbox.jpeg" alt="project pic">
        <a href="/projects/scam-detect" class="overlay">Scam Call Detection</a>
      </div>
      <div class="col">
        <img src="https://media.wnyc.org/i/320/320/l/80/1/blackbox.jpeg" alt="project pic">
        <a href="/projects/expense-tracker" class="overlay">Expense Tracker</a>
      </div>
      <div class="col">
        <img src="https://media.wnyc.org/i/320/320/l/80/1/blackbox.jpeg" alt="project pic">
        <a href="/projects/course-planner" class="overlay">Course Planner</a>
      </div>
    </div>
  </div>
{% endblock %}